@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <div>
        <h1>Register</h1>
        <hr>
    </div>
    <div style="text-align: center;">
        <form action="./home/register">
            Name :  <input type="text" name="nm" id="nm"><br><br>
            Email :  <input type="email" name="email" id="email"><br><br>
            Password :  <input type="password" name="pass" id="pass"><br><br>
            Confirm Password :  <input type="password" name="cpass" id="cpass"><br><br>
            Mobile :  <input type="number" name="mob" id="mob"><br><br>
            <button type="submit">Register</button>
        </form>
    </div>
</div>
