@using myapp.Models;
@{
    ViewData["Title"] = "Employee Page";
    List<Employee> list = ViewData["allemps"] as List<Employee>;
}

<div>
    <div className="container">
        <h1>Employees</h1>
        <div className="row">
            <div className="col-md-12">
                <table className="table">
                    <tbody>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                
                            </tr>
                        </thead>
                        @foreach (Employee item in list)
                        {
                            <tr>
                                <td>@item.Id &nbsp;</td>
                                <td>@item.Name &nbsp;</td>
                               <td>@item.Email &nbsp;</td>

                                <td> <a href="/Employee/Delete/@item.Id">Delete &nbsp; </a> </td>

                                <td> <a href="/Employee/Edit/@item.Id">Edit</a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>