@model myapp.Models.Employee;
@{
    ViewData["Title"] = "Add Employee";
}

<form method="post" action="Add">
    Id: <input type="text" asp-for="Id">
    Name: <input type="text" asp-for="Name">
    Email: <input type="text" asp-for="Email">
    <button type="submit">ADD</button>
</form>
